body {
    background-image:URL("http://data.whicdn.com/images/7369201/Wuthering_Heights_by_jyoujo_large.jpg");
    background-size: cover;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 25%;
}

   .content {
    width: 75%;
}
         a:hover{
             color: lightpink;
             text-decoration:none
         }
         table{
             background-color:cyan;
         }
             border: 1px solid black;
             font-size;
             background-color: rgba(255, 255, 0, .5);
         }
         td{
             border: 1px solid blue;
             padding: 5px;
         }
         p{
             background-color: lightblue;
             width: 10%;
             padding: 20px;
         }
         .narrow{
             width: 10%;
             background-color:beige;
         }
         .narrow:hover{
         }
img {
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
}
img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
